a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.nav-wrapper{
    // position: fixed;
    top: 0;
    z-index: 999;
}
// .nav-wrapper::after{
//     width: 100%;
//     height: 100%;
//     background-color: yellow;
//     top: 0;
//     left: 0;
// }
.logo::after{
    width: 100%;
    height: 100%;
    background-color: yellow;
    top: 0;
    left: 0;
}
.logo{
    position: fixed;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    z-index: 3;
    padding-left: 8px;
}
.logo_buffer{
    opacity: 0;
    position: relative;
}
.nav-item{
    margin-top: 10px;
}
.vardas,.links{
    padding: 0 10px 10px 10px;
    flex: 1 1 0;
    font-size: 2em;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    border: 4px solid;
    background: white;
    margin: 8px 8px 0 0;
}
.vardas{
    border-color:red;
    .pirmas_vardas{
        color: red;
        margin-right: 12px;
    }
    .pavarde{
        color: red;
    }
}

.links{
    border-color:blue;
    color: blue;
    justify-content: space-between;
}
.socmedia{
    order: 2;
    display: flex;
    flex-wrap: nowrap;
    height: 30px;
    max-width: 100%;
    a{
        width: 30px;
        margin-right: 10px;
        img{
            height: 100%;
        }
    }
    a:last-of-type{
        margin-right: 0;
    }
}

 @media only screen and (max-width: 721px) {
     .logo{

         .links {
            justify-content: space-between;
        }
     }
 }

 @media only screen and (max-width: 361px) {
    .vardas,.links{
        font-size: 1.2em;
        font-weight: 600;
    }
    .socmedia{
        height: 20px;
        a{
            width: 20px;
        }
    }
   }