*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
}
footer{
    width: 100%;
    height: 120px;
    border-top: 1px solid black;
    background-image: repeating-linear-gradient(-45deg, transparent 0 30px, black 1px 31px)
}
.logo{
    position: static;
}
.wrapper{
    padding: 8px;
    overflow: hidden;
}
.galerija{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
}

.galerija_box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin: 2px 0;
    scroll-snap-align: start;
}
.galerija-text{
    width: 20%;
    flex: 1 2 0;
    padding: 0 20px 20px 20px;
}
.galerija-image{
    height: 100%;
    flex: 2 1 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    img{
        display: none;
        height: 100%;
    }
}

@media only screen and (max-width: 721px) {

    footer{
        height: 40px;
    }

    .galerija_box{
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr min-content;
    }
    .galerija-image, .galerija-text{
        flex: unset;
    }
    .galerija-image{
    background-position: center;
    }
    .galerija-text{
        width: 100%;
    }
}

@media only screen and (max-width: 721px) {
    .galerija_box{
    height: unset;
    min-height: 100%;
    grid-template-rows: minmax(50vw,1fr) min-content;
    scroll-snap-align: unset
    }
}





