*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    grid-template-rows: min-content 1fr;
}
footer{
    width: 100%;
    height: 120px;
    border-top: 1px solid black;
    background-image: repeating-linear-gradient(-45deg, transparent 0 30px, black 1px 31px)
}
.logo{
    position: static;
}
.wrapper{
    padding: 8px;
    overflow: hidden;
}
.galerija{
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
}

.galerija_box{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: start;
}
.galerija-text{
    width: 20%;
    flex: 1 2 0;
    padding: 0 20px;
}
.galerija-image{
    height: 100%;
    flex: 2 1 0;
    overflow: hidden;
    img{
        height: 100%;
    }
}

@media only screen and (max-width: 721px) {
    footer{
        height: 80px;
    }

    .galerija_box{
        flex-direction: column;
        padding: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr min-content;
    }
    .galerija-image, .galerija-text{
        flex: unset;
    }
    .galerija-image{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    justify-content: center;
    }
    .galerija-text{
        width: 100%;
    }
}